@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/ProximaNova_Regular.ttf);
}

@font-face {
    font-family: ProximaNova;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/ProximaNova_Semibold.ttf);
}

@font-face {
    font-family: ProximaNova;
    font-weight: 100;
    font-display: swap;
    src: url(../assets/ProximaNova_Light.ttf);
}

:root {
    --width-1: 8.33333%;
    --width-2: 16.66667%;
    --width-3: 25%;
    --width-4: 33.33333%;
    --width-5: 41.66667%;
    --width-6: 50%;
    --width-7: 58.33333%;
    --width-8: 64.66667%;
    --width-9: 75%;
    --width-10: 83.33333%;
    --width-11: 91.66667%;
    --width-12: 100%;
}

html {
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --border-color: hsl(0, 0%, 72%);
    --accent-color: hsl(330, 100%, 50%);
    --accent-color-hover: hsl(330, 100%, 40%);
    --panel-color: hsl(0, 0%, 15%);
    --error-color: hsl(0, 100%, 45%);
    --white: hsl(0, 0%, 100%);
    font-family: "ProximaNova", -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

svg {
    pointer-events: none;
    transition: .2s fill ease, .2s stroke ease;
    -moz-transition: .2s fill ease, .2s stroke ease;
    -webkit-transition: .2s fill ease, .2s stroke ease;
    -o-transition: .2s fill ease, .2s stroke ease;
}

.text {
    transition: .2s color ease, .2s background-color ease;
    -moz-transition: .2s color ease, .2s background-color ease;
    -webkit-transition: .2s color ease, .2s background-color ease;
    -o-transition: .2s color ease, .2s background-color ease;
}

body, .navbar, .section {
    transition: .2s background-color ease;
    -moz-transition: .2s background-color ease;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
}

.hidden {
    display: none;
}

*:focus {
    outline: none;
}

html[data-theme="dark"] {
    --background-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 72%);
    --accent-color: hsl(330, 100%, 40%);
    --accent-color-hover: hsl(327, 100%, 35%);
    --panel-color: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    z-index: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    outline: none;
}

ul, ol {
    padding: 0;
    cursor: default;
}

.flex_row {
    display: flex;
    flex-flow: row nowrap;
}

.flex_col {
    display: flex;
    flex-flow: column nowrap;
}

.container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 0 1rem;
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    max-height: 48px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 var(--width-1);
    margin: 0;
    background-color: var(--background-color);
    z-index: 5;
}

.navbar__inner {
    margin: 0 var(--width-1);
}

.navbar__logo {
    display: flex;
    position: relative;
    flex: 0 0 auto;
    margin: 0 1rem 0 0;
    align-self: center;
}

.navbar__logo .fill {
    fill: var(--text-color);
}

.navbar__logo .stroke {
    stroke: var(--text-color);
}

.navbar__logotitle {
    display: inline;
    font-size: 0.625rem;
    font-weight: 700;
    margin: auto 0 auto 0.5rem;
    line-height: 1.2;
}

.navbar__logotitlesmall {
    font-size: 0.5rem;
}

.navbar__menu {
    height: 48px;
    align-items: center;
    flex: 1 1 auto;
}

.navbar__menuitem {
    position: relative;
    font-size: 1rem;
    display: inline-block;
    margin: 0 1rem;
}

.navbar__menuitem::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    background-color: var(--accent-color);
    height: 2px;
    transition: width .2s ease;
}

.navbar__menuitem:hover::after {
    width: 100%;
    left: 0;
}

.navbar__darkmodebutton {
    padding: 0;
    margin: 0 1.25rem 0 1rem;
}

.navbar__darkmodebuttonicon * {
    transition: fill .2s ease-out, stroke .2s ease-out;
}

.navbar__darkmodebutton:hover .stroke {
    stroke: var(--accent-color);
}

.navbar__darkmodebutton:hover .fill {
    fill: var(--accent-color);
}

.section {
    display: block;
    padding: 0 var(--width-1);
}

.section__panel {
    position: relative;
    padding: 0 1rem;
    border-radius: .5rem;
    box-shadow: 6px 6px 6px rgba(55, 55, 55, .2), -6px -6px 6px rgba(210, 210, 210, .2);
}

.section__delimiter {
    width: 100%;
    height: 40px;
    margin: 2rem 0;
}

.line {
    fill: url(#linear-gradient);
    stroke-linecap: round;
    stroke-linejoin: round;
    isolation: isolate;
}

.section__delimiter:nth-of-type(2n) {
    transform: rotate(180deg);
}

.section__player,
.section__contacts,
.section__license {
    background-color: var(--panel-color);
    color: white;
}

.section__header {
    margin-top: 3rem;
}

.section__headertext {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 1.5rem 0;
    margin: 0;
}

.header {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 1.25rem auto;
    text-align: center;
}

.player__spectrum {
    overflow: hidden;
    padding: 0;
    height: 420px;
}

.player__canvas {
    width: 100%;
    box-sizing: border-box;
}

.player__controls {
    padding: 0 1rem;
    min-height: 5rem;
    height: 1px;
}

.player__controlsinnerleft {
    width: calc(50% + 2.5rem);
    justify-content: space-between;
}

.player__controlsinnerright {
    justify-content: flex-end;
    margin: 0 0 0 auto;
}

.player__trackinfo {
    vertical-align: middle;
    justify-content: center;
    max-width: 12rem;
    flex-basis: 12rem;
    overflow: hidden;
}

.player__trackartist {
    display: inline;
    font-size: .8rem;
    color: var(--border-color);
    white-space: nowrap;
}

.player__trackname {
    display: inline;
    font-size: 1rem;
    color: var(--white);
    white-space: nowrap;
}

.player__volume {
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.volumebutton {
    position: relative;
    margin-left: 1rem;
    flex: 0 0 auto;
}

.volumebutton .fill {
    transition: .2s fill ease;
}

.volumebutton:hover .fill {
    fill: #363636;
}

.volumeslider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    padding: .75rem 0;
    margin: 0;
}

.volumeslider:focus {
    outline: none;
}

.volumeslider::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.volumeslider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 16px;
    transition: .2s background-color ease;
}

.volumeslider::-webkit-slider-runnable-track:hover {
    background-color: var(--accent-color-hover);
}

.volumeslider::-moz-range-track {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 16px;
    transition: .2s background-color ease;
}

.volumeslider::-moz-range-track:hover {
    background-color: var(--accent-color-hover);
}

.volumeslider::-ms-track {
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 16px;
    transition: .2s background-color ease;
}

.volumeslider::-ms-track:hover {
    background-color: var(--accent-color-hover);
}

.volumeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 16px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    transition: .2s background-color ease;
    margin-top: -3px;
}

.volumeslider::-webkit-slider-thumb:hover {
    background-color: var(--accent-color-hover);
}

.volumeslider::-moz-range-thumb {
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    transition: .2s background-color ease;
}

.volumeslider::-moz-range-thumb:hover {
    background-color: var(--accent-color-hover);
}

.volumeslider::-ms-thumb {
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    margin: 0;
    transition: .2s background-color ease;
}

.volumeslider::-ms-thumb:hover {
    background-color: var(--accent-color-hover);
}

.player__playbutton {
    position: relative;
    padding: 0 1rem;
    margin-left: auto;
}

.player__playbutton_active .play {
    fill: transparent;
}

.player__playbutton_active .pause {
    fill: var(--white);
}

.player__playbutton .fill {
    transition: fill .2s ease;
}

.player__playbutton:hover .fill {
    fill: var(--accent-color-hover);
}

.player__playbutton svg {
    width: 48px;
    height: 48px;
    fill: var(--accent-color);
    stroke: transparent;
    overflow: visible;
}

.player__fullscreenbutton {
    display: none;
}

.player__fullscreenbutton .fill {
    transition: .2s fill ease;
}

.player__fullscreenbutton:hover .fill {
    fill: #363636;
}

.schedule__text {
    font-size: 1.25rem;
    text-align: center;
    padding: 0 0 3rem 0;
    margin: 0;
}

.link {
    color: var(--accent-color);
}

.link:hover {
    color: var(--accent-color-hover);
}

.contacts {
    position: relative;
    border-radius: 8px;
    flex-wrap: wrap;
}

.contacts__panel {
    display: block;
    width: 50%;
}

.contacts__panellink {
    display: block;
    margin: auto;
    text-align: center;
    padding: 4rem 0;
}

.contacts__panellinktext {
    margin: .5rem auto 0 auto;
    font-size: 1.2rem;
    fill: white;
}

.contacts__panellinktext_big {
    font-weight: 700;
    font-size: 1.5rem;
    fill: white;
}

.contacts__panel::after {
    content: "";
    position: absolute;
    height: 70%;
    left: 50%;
    top: 15%;
    width: 2px;
    background-color: white;
    z-index: 4;
    border-radius: 1rem;
}

.contacts__panellogo {
    pointer-events: all;
}

.contacts__panellogo .clip {
    fill: var(--accent-color);
    transition: .5s width ease-out;
}

.contacts__panellogo:hover .clip {
    width: 100%;
}

.mirealogotext_big {
    font-weight: 700;
    color: white;
    font-size: 3rem;
}

.mirealogotext_small {
    color: white;
    font-size: 1rem;
}

.about__text,
.licence__text {
    font-size: 1.25rem;
    padding: 0 0 2rem 0;
    margin: 0;
}

@media screen and (max-width: 996px) {
    .section__header {
        margin-top: 3rem;
    }

    .player__spectrum {
        height: 340px;
    }

    .about__text {
        font-size: 1.25rem;
    }

    .mirealogo {
        width: 290px;
        height: 184px;
    }

    .radioroomlogo {
        width: 172px;
        height: 183px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
    }

    .navbar__darkmodebutton {
        margin: 0;
    }

    .section__header {
        margin-top: 3rem;
    }

    .section__headertext {
        font-size: 1.5rem;
        padding: 1.5rem 0 1rem 0;
    }

    .section__player,
    .section__contacts {
        padding: 0;
    }

    .player,
    .contacts {
        border-radius: 0;
    }

    .schedule__text,
    .about__text,
    .licence__text {
        font-size: 1rem;
        text-align: left;
        padding-bottom: 1.5rem;
    }

    .header {
        font-size: 1rem;
        margin: 1.25rem auto;
    }

    .player__spectrum {
        height: 300px;
    }

    .contacts__panel {
        width: 100%;
    }

    .contacts__panel::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 10%;
        top: 50%;
        width: 80%;
        background-color: white;
        z-index: 4;
        border-radius: 1rem;
    }

    .mirealogo {
        width: 387px;
        height: 246px;
    }

    .radioroomlogo {
        width: 230px;
        height: 245px;
    }
}

@media screen and (max-width: 480px) {
    .text {
        line-height: 1.5;
    }

    .section {
        padding: 0 1rem;
    }

    .section__header {
        margin-top: 3rem;
    }

    .header {
        font-size: .8rem;
        margin: 1rem auto;
    }

    .navbar__logotitle {
        display: none;
    }

    .navbar__menuitem {
        font-size: .8rem;
        margin: 0 .75rem;
    }

    .player__controls {
        padding: 0;
    }

    .player__spectrum {
        height: 320px;
        margin: 0 1rem 2.25rem 1rem;
    }

    .player__controlsinnerleft {
        width: calc(50% + 2.25rem);
    }

    .player__trackinfo {
        width: 100%;
        position: absolute;
        text-align: center;
        margin-top: -1.5rem;
        left: 0;
        max-width: none;
    }

    .player__trackartist {
        display: inline;
        font-size: .7rem;
    }

    .player__trackname {
        display: inline;
        font-size: .9rem;
    }

    .player__volume {
        padding-left: 0;
    }

    .volumeslider {
        display: none;
    }

    .volumebutton {
        margin-left: 0;
    }

    .player__playbutton svg {
        width: 40px;
        height: 40px;
        overflow: visible;
    }

    .contacts__panellink {
        padding: 4rem 0;
    }

    .mirealogo {
        width: 290px;
        height: 184px;
    }

    .radioroomlogo {
        width: 172px;
        height: 183px;
    }
}

@media screen and (max-width: 360px) {
    .section__header {
        margin-top: 3rem;
    }

    .header {
        font-size: .8rem;
        margin: 1rem auto;
    }
}